{{- if .Values.gateway.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "opus-stack.fullname" . }}-gateway
  labels:
    {{- include "opus-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
  - port: {{ .Values.gateway.service.port }}
    targetPort: {{ .Values.gateway.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    {{- include "opus-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
{{- end }}
