apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: opus
spec:
  rules:
    - host: {{ .Values.global.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gateway
                port: { number: 80 }
